/* intro-container start  */
.intro-container {
	background-color: white;
	box-shadow: var(--box-shadow);
	padding: 15px;
	border-radius: var(--card-border-radius);
}

.intro-container .header {
	display: flex;
	justify-content: space-between;
	padding: 0 5px;
}
.intro-container .header h5 {
	font-weight: 600;
}

.intro-container .header i {
	cursor: pointer;
}

.intro-container .intro-info {
	margin: 16px 0 0 0;
	font-size: 15.5px;
}

.intro-container .intro-info i {
	margin: 0 13px 0 3px;
	color: #738290;
	font-size: 16px;
}

.intro-container .intro-info span {
	font-weight: 500;
}
/* intro-container end  */
