.post-tab-main-container {
	gap: 1rem;
	display: flex;
}

.post-tab-main-container .post-left-container {
	padding: 0;
	height: max-content;
	-moz-height: max-content;
	position: sticky;
	top: -47.5rem;
	bottom: 0;
	overflow-y: scroll;
	overflow-x: hidden;
}
.post-tab-main-container .post-right-container {
	margin: 10px 0 0 0;
}
