.feed-nav-container {
	display: flex;
	justify-content: center;
	background-color: white;
	position: sticky;
	z-index: 1000;
	top: 0;
	padding: 0 12px;
}

.feed-body-container {
	display: flex;
	padding: 0 12px;
}
