.nav-main-container {
	display: flex;
	justify-content: center;
	background-color: white;
	position: sticky;
	z-index: 1000;
	top: 0;
	padding: 0 12px;
	box-shadow: var(--box-shadow);
}

/* **** navbar-left start  **** */
.navbar-left {
	display: flex;
	padding: 10px 0;
	align-items: center;
}

.navbar-left img {
	width: 50px;
	height: 50px;
	cursor: pointer;
}
.navbar-left h2 {
	margin: 0 0 0 10px;
	font-weight: 600;
	color: #1a479e;
	letter-spacing: 1.2px;
	cursor: pointer;
}
/* navbar-left end  */

/* **** navbar-middle-start  **** */
.navbar-middle {
	display: flex;
	justify-content: flex-start;
	padding: 10px 0;
}

.navbar-middle .search-bar {
	display: flex;
	align-items: center;
	background-color: #f0eef6;
	width: 99%;
	border-radius: 30px;
	padding: 0 11px;
	height: 54px;
}

.navbar-middle .search-bar i {
	font-size: 20px;
	margin: 3px 0 0 10px;
	color: #738290;
}

.navbar-middle .search-bar input {
	margin: 0 0 0 11px;
	width: 100%;
	background-color: transparent;
	border: none;
	outline: none;
}

/* **** navbar-middle-end  **** */

/* **** navbar-right-start  **** */
.navbar-right {
	padding: 10px 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.navbar-right .icon-style {
	display: flex;
	justify-content: space-evenly;
	flex-grow: 1;
	margin: 0 -35px 0 0px;
}

.navbar-right .icon-style i {
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #738290;
	box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.05);
	border-radius: 50%;
	position: relative;
	overflow: hidden;
	transition: all 0.5s;
	font-size: 22px;
	cursor: pointer;
}

.navbar-right .icon-style i::after {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: -90px;
	left: 0;
	background: linear-gradient(-45deg, #ed1c94, #ffec17);
	transition: transform 0.4s;
	transition: color 0.5s;
	z-index: -1;
}

.navbar-right .icon-style i:hover::after {
	top: 0;
}
.navbar-right .icon-style i:hover {
	transform: translateY(-5px);
	color: #faf3dd;
}

/* for dropdown list start  */
.navbar-right #profile-photo {
	position: relative;
}

.navbar-right #profile-photo ul {
	background-color: #eaf4f4;
	border-radius: 1rem;
	box-shadow: var(--box-shadow);
	position: absolute;
	top: 59px;
	right: -7px;
	z-index: 10;
	width: 200px;
	margin: 0;
	padding: 0;
	font-weight: 600;
	list-style-type: none;
	display: none;
}

.navbar-right #profile-photo ul.action {
	display: inline-block;
	animation: ul-display 700ms linear forwards;
	overflow-y: hidden;
}

@keyframes ul-display {
	0% {
		height: 0px;
	}
	50% {
		height: 100%;
	}
	100% {
		height: max-content;
	}
}

.navbar-right #profile-photo ul li {
	cursor: pointer;
	padding: 11px 0px;
	/* display: none; */
	position: relative;
}

.navbar-right #profile-photo ul li:first-child {
	border-radius: 1rem 1rem 0 0;
}
.navbar-right #profile-photo ul li:last-child {
	border-radius: 0 0 1rem 1rem;
}

.navbar-right #profile-photo ul li:hover {
	background-color: #cce3de;
}

.navbar-right #profile-photo ul li span {
	display: flex;
	align-items: center;
	color: #2a9d8f;
}
.navbar-right #profile-photo ul li span i {
	margin: 0 15px;
	font-size: 17px;
}

.navbar-right #profile-photo ul li h5 {
	margin: 0;
	font-size: 17px;
}

.navbar-right #profile-photo img {
	cursor: pointer;
}

/* for dropdown badge  */
.navbar-right #profile-photo ul li span div {
	display: flex;
	color: white;
	background-color: #ff006e;
	font-weight: 600;
	font-size: 13px;
	padding: 2px;
	border-radius: 50%;
	position: absolute;
	right: 8px;
}

.navbar-right #profile-photo ul li span div span {
	color: white;
}

/* for dropdown list end  */

/* for header badge start  */
.navbar-right .icon-style .badge {
	position: relative;
}

.navbar-right .icon-style .badge div {
	color: white;
	position: absolute;
	top: 11px;
	right: 11px;
	background-color: #ff006e;
	font-weight: 600;
	font-size: 13px;
	padding: 2px;
	border-radius: 50%;
}
/* for badge end  */

/* **** navbar-right-end  **** */

/* media query start  */
@media screen and (max-width: 1300px) {
	.navbar-right .icon-style {
		margin: 0 -20px 0 0px;
	}
}

@media screen and (max-width: 1200px) {
	.nav-main-container {
		padding: 0 47px;
	}
}

@media screen and (max-width: 1100px) {
	.navbar-right .icon-style {
		margin: 0;
	}

	.navbar-middle .search-bar {
		width: 90%;
		margin: 0 0 0 25px;
	}
}

@media screen and (max-width: 1050px) {
	.nav-main-container {
		padding: 0 40px;
	}
}

@media screen and (max-width: 992px) {
	.nav-main-container {
		padding: 0 12px;
	}
}
